<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]  Ecommerce</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/assets/css/style.css">

    <script src="https://kit.fontawesome.com/979f3f3435.js" crossorigin="anonymous"></script>
</head>
<body>

    @using Microsoft.AspNetCore.Http;
    @using Newtonsoft.Json;
    @using System.Globalization
    @inject IHttpContextAccessor HttpContextAccessor
    @{
        UsuarioVD usuario = null;
        if (HttpContextAccessor.HttpContext.Session.GetString("usuarioLogado") != null)
            usuario = JsonConvert.DeserializeObject<UsuarioVD>(HttpContextAccessor.HttpContext.Session.GetString("usuarioLogado"));
        bool isLogado = usuario != null;
    }

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Vitrine">Ecommerce</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li  class="nav item">
                            <form class="form-inline my-2 my-lg-0"> <input class="form-control mr-sm-2" type="text" placeholder="Pesquisar"> <button class="btn btn-secondary my-2 my-sm-0" type="submit">Pesquisar</button> </form>
                        </li>
                        <li class="nav item" style="margin: 15px; margin-left: auto">
                            <div class="">
                                <a style="cursor:pointer" onclick="RedirecionaParaPagina('Carrinho','DetalheCarrinho')">
                                    <i class="fas fa-shopping-cart"></i>
                                </a>
                            </div>
                        </li>
                        @{ if (isLogado)
                            {
                                <li class="nav item" style="margin: 15px" >
                                    <div class="">
                                        <span>@usuario.Nome</span>
                                    </div>
                                </li>
                            }
                            else
                            {
                                <li class="nav item" style="margin: 15px; cursor:pointer">
                                    <div class="">
                                        <span></span>
                                        <i style="margin-left: 5px" class="fas fa-sign-in-alt" onclick="RedirecionaParaPagina('Login','Login')"></i>
                                    </div>
                                </li>
                            }

                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Ecommerce - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/assets/js/jquery.sticky.js"></script>

    @RenderSection("Scripts", required: false)
    <!-- JS here -->
    <!-- All JS Custom Plugins Link Here here -->
    <script src="~/assets/js/vendor/modernizr-3.5.0.min.js"></script>

    <!-- Jquery, Popper, Bootstrap -->
    <script src="~/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="~/assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/slick.min.js"></script>

    <!-- One Page, Animated-HeadLin -->
    <script src="~/assets/js/wow.min.js"></script>
    <script src="~/assets/js/animated.headline.js"></script>
    <script src="~/assets/js/jquery.magnific-popup.js"></script>

    <!-- Scrollup, nice-select, sticky -->
    <script src="~/assets/js/jquery.scrollUp.min.js"></script>
    <script src="~/assets/js/jquery.nice-select.min.js"></script>
    <script src="~/assets/js/jquery.sticky.js"></script>

    <!-- contact js -->
    <script src="~/assets/js/contact.js"></script>
    <script src="~/assets/js/jquery.form.js"></script>
    <script src="~/assets/js/jquery.validate.min.js"></script>
    <script src="~/assets/js/mail-script.js"></script>
    <script src="~/assets/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="~/assets/js/plugins.js"></script>
    <script src="~/assets/js/main.js"></script>

    <!-- swiper js -->
    <script src="~/assets/js/swiper.min.js"></script>
    <!-- swiper js -->
    <script src="~/assets/js/mixitup.min.js"></script>
    <script src="~/assets/js/jquery.counterup.min.js"></script>
    <script src="~/assets/js/waypoints.min.js"></script>
</body>

</html>
